/* i want a small layout to make the thead disply none */

@media (max-width: 800px) {
  thead{
	display: none !important;
  }
.search-bar{
    width: 100%;
    margin-bottom: 10px;
  }
  .sort-controls {
    width: 100%;
    justify-content: space-between;
  }
  .sort-btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .dropdown-content {
    position: static;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

}
@media (max-width: 450px) {
  .btn-visit, .btn-update, .btn-delete {
    padding: 2px 3px !important;
    font-size: 0.8rem !important;
  }
}



